@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<h2>Домашняя страница</h2>

<div style="text-align:center" ><h3>Добро Пожаловать</h3></div>
<div style="text-align:center"><img  width="500px" src="~/Images/PC.jpg" /></div>